.mat-headline-1 {
    margin-bottom: 16px;
}

.counter-value {
    text-align: center;
    /*width: 320px;*/
    font-weight: bold;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 10px;
}
