<div>
    <mk-progress [isLoading]="counter?.isLoading || counter?.isSaving" [diameter]="23">
        <p class="mat-headline-1 counter-value">{{ counter?.value }}</p>
    </mk-progress>

    <div class="button-container">
        <button
            mat-mini-fab
            color="primary"
            class="decrementButton"
            (click)="decrement()"
            [disabled]="counter?.isLoading || counter?.isSaving"
        >
            <mat-icon>remove</mat-icon>
        </button>
        <button
            mat-mini-fab
            color="primary"
            class="incrementButton"
            (click)="increment()"
            [disabled]="counter?.isLoading || counter?.isSaving"
        >
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>
