{
  "*.{html,json,scss,js,css}": [
    "prettier --write",
    "git add"
  ],
  "*.md": [
    "prettier --print-width 80 --write",
    "git add"
  ],
  "*.ts": [
    "prettier --write",
    "yarn eslint --fix ",
    "git add"
  ]
}
