<mk-error></mk-error>

<div class="dashboard-container">
    <mat-card appearance="raised" class="dashboard">
        <mat-card-header>
            <mat-card-title i18n="Heading for the card containing the number of counters@@DashboardComponent:NumOfCounters">
                <p>Number of counters</p>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p class="mat-headline-1 bold">{{ numOfCounters$ | async }}</p>
        </mat-card-content>
    </mat-card>

    <mat-card appearance="raised" class="dashboard">
        <mat-card-header>
            <mat-card-title i18n="Heading for the card containing the sum over all counters@@DashboardComponent:SumOfCounters">
                <p>Counters sum up to</p>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p class="mat-headline-1 bold">{{ counterValueSum$ | async }}</p>
        </mat-card-content>
    </mat-card>

    <mat-card appearance="raised" class="dashboard">
        <mat-card-header>
            <mat-card-title i18n="Heading for the card containing the average over all counters@@DashboardComponent:AverageOfCounters">
                <p>Average counter value</p>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p class="mat-headline-1 bold">{{ averageCounterValue$ | async }}</p>
        </mat-card-content>
    </mat-card>
</div>
