@if (counter$ | async; as counter) {
    <mat-card appearance="raised" class="counterContainer">
        <mat-card-header>
            <mat-card-title>
                <p>Counter #{{ counterIndex }}</p>
            </mat-card-title>

            <mat-card-subtitle>
                <mk-counter-heading [counterIndex]="counterIndex" [counter]="counter"></mk-counter-heading>
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <mk-counter-input
                [counterIndex]="counterIndex"
                [counter]="counter"
                (decrement)="decrement($event)"
                (increment)="increment($event)"
            ></mk-counter-input>
        </mat-card-content>
    </mat-card>
}
